
*, *::after, *::before {
    box-sizing:border-box;  
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #DEE0EF;
    --dark-color: #393B49;
    --accent-color1: #C4C6D8;
    --accent-color2: #535667;
}

/* lettertypes */

@font-face {
    font-family: 'LuckiestGuy';
    src: url('../fonts/LuckiestGuy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InriaRegular';
    src: url('../fonts/InriaSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InriaBold';
    src: url('../fonts/InriaSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InriaLight';
    src: url('../fonts/InriaSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--background-color);
}

p {
    font-family: InriaRegular;
    font-size: 1.6vw;
}

a {
    color: black;
}

h3 {
    font-family: LuckiestGuy;
    font-size: 4vw;
}

/* nav */

nav{
    display: flex;
    justify-content: end;
    margin: 1.8vw;
}

nav a:first-child, nav a:nth-child(2){
    border-right: 0.2vw solid var(--dark-color);
    margin-right: 1vw;
    padding-right: 1vw;
    height: 2vw;
}

nav a p {
    font-family: InriaBold;
    color: var(--dark-color);
    font-size: 1.4vw;
}

nav a {
    text-decoration-color: var(--dark-color);
}

/* first section */

main section:first-of-type {
    display: flex;
}

main section:first-of-type img:first-of-type {
    height: 90vh;
}

main section:first-of-type section {
    display: flex;
    flex-direction: column;
    margin-top: 20vw;
}

main section:first-of-type section h1 {
    font-size: 10vw;
    font-family: LuckiestGuy;
}

main section:first-of-type section p {
    font-size: 3.5vw;
    font-family: LuckiestGuy;
    color: var(--dark-color);
}

main section:first-of-type section img {
    width: 50vw;
    max-height: 6.5vh;
}

/* second section */
h2 {
    font-family: LuckiestGuy;
    font-size: 5vw;
    margin-top: 10vw;
    margin-bottom: 2vw;
    text-align: center;
}

main section:nth-of-type(2) {
    display: flex;
}

main section:nth-of-type(2) p {
    background-color: var(--accent-color2);
    color: var(--background-color);
    padding: 1vw;
    margin-right: 3vw;
    font-size: 2.3vw;
    padding: 3vw;
    padding-left: 24%;
    text-align: right;
    border-radius: 0% 20px 20px 0%;
}

main section:nth-of-type(2) img {
    max-height: 65vh;
    border-radius: 3% 0% 0% 3%;
}

/* third section */

main section:nth-of-type(3) {
    background-color: var(--accent-color1);
    margin: 2.5vw;
    margin-top: 16vw;
    padding: 1.5vw 2.5vw;
    position: relative;
    border-radius: 1vw;
}

main section:nth-of-type(3) h3 {
    position: absolute;
    margin-left: 33vw;
    margin-top: 2vw;
}


main section:nth-of-type(3) p {
    position: absolute;
    margin-left: 33vw;
    margin-right: 6vw;
}

main section:nth-of-type(3) a p:first-of-type{ 
    margin-top: 37vw;
    margin-left: 55vw;
}

main section:nth-of-type(3) a p{
    text-decoration: underline;
}

main section:nth-of-type(3) p:nth-of-type(1) {
    margin-top: 8vw;
}

main section:nth-of-type(3) p:nth-of-type(2) {
    margin-top: 22vw;
}

main section:nth-of-type(3) p:nth-of-type(3) {
    margin-left: 32vw;
}

main section:nth-of-type(3) img {
    height: auto;
    width: 31vw;
}

main section:nth-of-type(3) img:nth-of-type(2), main section:nth-of-type(3) img:nth-of-type(3) {
    height: auto;
    width: 14vw;
    margin-left: 0.5vw;
}

main section:nth-of-type(3) img:nth-of-type(2) {
    margin-left: 6vw;
}

main section:nth-of-type(3) img:nth-of-type(4) {
    height: auto;
    width: 22vw;
    margin-left: 0.5vw;
}